body {
font-family: helvetica, arial, sans-serif;
	background: ;
	}

	.full {
		background: ;
		position: absolute;
		left:0;
		right:0;
		top:0;
		bottom: 0;

	}
	.header {
		position: relative;
		left:0;
		right:0;
		height: 2em;
		background: green;
	}
	h2 { /* reset */
		margin: 0;
		color: white;
		text-indent: 1em;
	}
	ul li {
		list-style: none;
	}
	ul li ul li {
		list-style: upper-roman;
	}
	#loading {
		margin: 0 auto;
		width: 1000px;
		background: ;
		text-align: center;
	}
	
	
/* Progress Styling	 */
progress {  
/*     background-color: #f3f3f3;   */
    border:0;
    border-radius: 1em;  
    height: 18px; 
    background: whitesmoke;
    width: 600px;
}  
/* Webkit maakt div progressbar aan met daarin div progress value.  */
progress::-webkit-progress-bar {  
    /* style rules */ 
    background: whitesmoke;
    border-radius: 1em;
    
 
}  

progress::-webkit-progress-value {  
    /* style rules */  
    background: grey;
    border-radius: 1em;
    background: rgb(0,183,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

}  
/* FF doet alleen iets met de value. */
progress::-moz-progress-bar {  
    /* style rules */  
    background: grey;
    border-radius: 1em;
    background: rgb(0,183,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */


    } 